@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
  font-weight: 400;
}

.ant-layout-sider {
  background-color: #fff;
}

.ant-layout-sider .ant-layout-sider-trigger {
  background-color: #dadada;
}
